/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
*{
    margin: 0px;
    padding: 0px;
}
#todo{
    width:1200px;
    margin: auto;
    border: solid 3px black;
    min-height: 100%;
    position: relative;     
}

/*********Header*********/
#header{background: red;height: 90px;}

/**********NAV**********/
#logout{float: right;padding: 15px 15px;margin-top: -33px;background: white;}


#nav {
    padding: 15px 15px;  
    background: #3FA945;
    text-transform: uppercase;
    font-weight:bold;
    -webkit-box-shadow: 0px 6px 5px -2px #6d6b6b;
    -moz-box-shadow: 0px 6px 5px -2px #6d6b6b;
    box-shadow: 0px 6px 5px -2px #6d6b6b;
}
#nav ul {
    color: #fff;
    margin: auto;
    max-width: 1200px;
}
#nav ul li{display:inline;}
#nav a{text-decoration: none;padding: 15px 15px; }
#nav ul li a:hover{background: greenyellow;}
#nav ul li a:visited{color: blue;}

/**********Conteudo***********/
#centraliza {
    height:200px;
    width: 300px;   
    margin: auto;
    text-align: center;
    border: solid;
    border-radius: 10px;
    margin-top: 70px;}

/**********Formulario******/
#formLogin{margin-top: 60px;}
.campo{padding: 4px; margin: 2px;}
#btn {
    box-shadow: 1px 1px 1px #999;
    border-radius: 4px;
    margin-top: 6px;
    font-size: 120%;
    padding: 3px;
}

/***********Footer*********/
#footer{
    background: #cccccc;
    height: 100px;
    text-align: center;
    font-weight: bold;    
    bottom:0;    
    position: absolute;
    width:100%;
}

