/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
*{
    margin: 0px;
    padding: 0px;
}
img {width: 100%;}
#todo{
    width:1200px;
    margin: auto;
    border: solid 3px black;
    min-height: 100%;
    position: relative;     
}

/*********Header*********/
#header{height: 120px;}

/**********NAV**********/
#logout{
    float: right;
    padding: 13px 15px !important;
    margin-top: -33px;
    background: white;
    color: red !important;
    border-radius: 10px;
    border: solid black 2px;
}
#nav {      
    padding: 15px 15px;
    border: solid black 2px;    
    background: #ffffff;
    text-transform: uppercase;
    font-weight:bold;
    -webkit-box-shadow: 0px 6px 5px -2px #6d6b6b;
    -moz-box-shadow: 0px 6px 5px -2px #6d6b6b;
    box-shadow: 0px 6px 5px -2px #6d6b6b;
}
#nav ul {    
    margin: auto;
    max-width: 1200px;
}
#nav ul li{display:inline;}
#nav a{
    text-decoration: none;
    padding: 14px 15px;
    border: solid black 2px;
    border-radius: 10px;
    color:black;
}
/*#nav li.selected a{background: blueviolet !important;}*/
#nav ul li a:hover{background: red;}
#nav ul li a:visited{color: black;}

/**********Conteudo***********/
#centraliza {
    height:200px;
    width: 300px;   
    margin: auto;
    text-align: center;
    border: solid;
    border-radius: 10px;
    margin-top: 70px;
}

/**********Formulario******/
#formAluno{ margin-bottom: 150px;}
#formLogin{margin-top: 60px;}
.campo{padding: 4px; margin: 2px;}
#btn {
    box-shadow: 1px 1px 1px #999;
    border-radius: 4px;
    margin-top: 6px;
    font-size: 120%;
    padding: 3px;
}

/***********Footer*********/
#footer{
    background: #cccccc;
    height: 100px;
    text-align: center;
    font-weight: bold;    
    bottom:0;    
    position: absolute;
    width:100%;
}

